@model IEnumerable<PhotoSharingPonovo1.Models.Photo>

<h2>Ovo je parcialni pogles</h2>
<div>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(Model=>Model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(Model=>Model.PhotoFile)
            </th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Model=>item.Title)
                </td>
                <td>
                    <img src="@Url.Action("GetImage", "Photo", new {id=item.PhotoID})" width="200" />
                </td>
            </tr>
            @*<tr>
                @Html.Action("CommentsForPhoto", "Comments", new { id=item.PhotoID})
            </tr>*@
        }
    </table>
</div>

